In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [234]:
companies_codes = [
    'PETR', # Petrobras
    'ABEV', # Ambev
    'CMIG', # CMIG
    'GGBR', # Gerdau
    'ITUB', # Itaú
    'BBDC', # Bradesco
    'BBAS', # Banco do Brasil
    'VALE', # Vale
    'ALPA', # Alpargatas
    'ALUP', # Alupar
    'AMAR', # Mariza
    'BIDI', # Banco Inter
    'BOBR', # Bombril
    'BRKM', # Brasken
    'BRML', # Br Malls
    'CNTO', # Centauro
    'CVCB', # CVC
    'ELEK', # Eletrobras
    'ELET', # Eletropaulo
    'ENGI', # Energisa
    'LAME', # Lojas Americanas
    'LIPR', # Eletropar
    'OGXP', # OGX Petroleo
    'NATU', # Natura
    'WHRL', # Whirlpool
    
]
companies_codes.sort()

stock_codes = {}
stocks_list = []

codes_processed_file = '../Python/processed_codes.csv'
file = open(codes_processed_file, 'r')
line = file.readline()

while line:
    line = line.strip()
    id, name = line.split(',')
    stocks_list.append(id)
    line = file.readline()

file.close()

for i in companies_codes:
    stock_codes[i] = [s for s in stocks_list if i in s]

In [235]:
timeseries_file = '../Python/outputdata.csv'
df = pd.read_csv(timeseries_file)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df

,Date,Stock Code,Price Open,Price Close,Price High,Price Low,Price Mean,Quantity,Volume
0,2019-01-02,AALR3,13.31,13.25,13.50,13.25,13.33,264200,3523962.0
1,2019-01-02,AAPL34,60.71,60.41,60.71,59.89,60.47,16800,1015969.0
2,2019-01-02,ABBV34,342.84,342.84,342.84,342.84,342.84,300,102852.0
3,2019-01-02,ABCB4,16.47,17.12,17.20,16.35,16.78,571700,9598300.0
4,2019-01-02,ABEV3,15.40,16.15,16.30,15.40,15.95,18692900,298201954.0
...,...,...,...,...,...,...,...,...,...
779224,2019-12-30,YDUQM47,1.52,1.81,1.81,1.52,1.60,10400,16732.0
779225,2019-12-30,YDUQM48,1.92,2.01,2.20,1.92,2.09,3200,6699.0
779226,2019-12-30,YDUQM49,2.58,2.75,2.92,2.58,2.82,10500,29640.0
779227,2019-12-30,YDUQN460,2.11,2.11,2.11,2.11,2.11,200,422.0
779228,2019-12-30,YDUQN480,3.07,3.07,3.07,3.07,3.07,1500,4605.0

In [236]:
blue_chips = sum(stock_codes.values(), [])
print(blue_chips)

['ABEV3', 'ALPA3', 'ALPA4', 'ALUP3', 'ALUP4', 'AMAR3', 'BBAS3', 'BBDC3', 'BBDC4', 'BIDI3', 'BIDI4', 'BIDI9', 'BOBR4', 'BRKM3', 'BRKM5', 'BRKM6', 'BRML3', 'CMIG3', 'CMIG4', 'CNTO3', 'CVCB3', 'ELEK3', 'ELEK4', 'ELET1', 'ELET3', 'ELET5', 'ELET6', 'ENGI3', 'ENGI4', 'GGBR3', 'GGBR4', 'ITUB3', 'ITUB4', 'LAME1', 'LAME2', 'LAME3', 'LAME4', 'LIPR3', 'NATU3', 'OGXP3', 'PETR3', 'PETR4', 'VALE3', 'WHRL3', 'WHRL4']

In [237]:
df['Movement'] = df['Price Close'] - df['Price Open']
df

,Date,Stock Code,Price Open,Price Close,Price High,Price Low,Price Mean,Quantity,Volume,Movement
0,2019-01-02,AALR3,13.31,13.25,13.50,13.25,13.33,264200,3523962.0,-0.06
1,2019-01-02,AAPL34,60.71,60.41,60.71,59.89,60.47,16800,1015969.0,-0.30
2,2019-01-02,ABBV34,342.84,342.84,342.84,342.84,342.84,300,102852.0,0.00
3,2019-01-02,ABCB4,16.47,17.12,17.20,16.35,16.78,571700,9598300.0,0.65
4,2019-01-02,ABEV3,15.40,16.15,16.30,15.40,15.95,18692900,298201954.0,0.75
...,...,...,...,...,...,...,...,...,...,...
779224,2019-12-30,YDUQM47,1.52,1.81,1.81,1.52,1.60,10400,16732.0,0.29
779225,2019-12-30,YDUQM48,1.92,2.01,2.20,1.92,2.09,3200,6699.0,0.09
779226,2019-12-30,YDUQM49,2.58,2.75,2.92,2.58,2.82,10500,29640.0,0.17
779227,2019-12-30,YDUQN460,2.11,2.11,2.11,2.11,2.11,200,422.0,0.00
779228,2019-12-30,YDUQN480,3.07,3.07,3.07,3.07,3.07,1500,4605.0,0.00

In [238]:
bc_df = df.loc[(df['Stock Code'].isin(blue_chips))].copy() #& (df['Date'] < '2019-06-01')].copy()
bc_df

,Date,Stock Code,Price Open,Price Close,Price High,Price Low,Price Mean,Quantity,Volume,Movement
4,2019-01-02,ABEV3,15.40,16.15,16.30,15.40,15.95,18692900,298201954.0,0.75
8,2019-01-02,ALPA3,16.20,16.80,16.80,16.20,16.51,5500,90848.0,0.60
9,2019-01-02,ALPA4,17.03,17.50,17.55,16.99,17.29,432100,7474510.0,0.47
11,2019-01-02,ALUP3,7.11,7.31,7.49,6.92,7.15,3800,27177.0,0.20
12,2019-01-02,ALUP4,5.51,5.80,5.80,5.49,5.77,6600,38137.0,0.29
...,...,...,...,...,...,...,...,...,...,...
231216,2019-12-30,VALE3,53.65,53.30,53.86,53.20,53.47,11928100,637829565.0,-0.35
231231,2019-12-30,WHRL3,10.49,9.97,10.49,9.75,10.16,6300,64061.0,-0.52
231232,2019-12-30,WHRL4,10.35,10.25,10.63,10.04,10.29,18000,185277.0,-0.10
231272,2019-12-30,LAME1,7.40,7.48,7.60,7.40,7.51,2800,21055.0,0.08
231273,2019-12-30,LAME2,9.50,9.40,9.81,9.40,9.52,178900,1704472.0,-0.10

In [257]:
df_pivot = pd.pivot_table(bc_df, index=[bc_df['Date']], columns=bc_df['Stock Code'], values=['Movement', 'Volume'])
df_pivot

           Movement                                                        \
Stock Code    ABEV3 ALPA3 ALPA4 ALUP3 ALUP4 AMAR3 BBAS3 BBDC3 BBDC4 BIDI3
Date
2019-01-02     0.75  0.60  0.47  0.20  0.29  0.40  2.40  1.79  1.74   NaN
2019-01-03     0.32  0.02  0.08 -0.01  0.28  0.14  0.30  0.90  0.48   NaN
2019-01-04     0.25  0.60 -0.10 -0.11 -0.11 -0.02  0.72 -0.05  0.01   NaN
2019-01-07    -0.09 -1.27 -0.04 -0.03  0.08  0.08 -0.35  0.35  0.59   NaN
2019-01-08    -0.39  0.10  0.39  0.58  0.11 -0.21 -0.67  0.40  0.14   NaN
...             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2019-12-20     0.29   NaN -0.31  0.32 -0.20  0.06  0.11 -0.28 -0.14  0.04
2019-12-23    -0.05 -0.24  0.36  0.33 -0.31  0.57  1.64  0.68  0.22 -0.42
2019-12-26     0.26 -0.20 -0.09  0.29  0.11  0.33  0.72  0.55  0.43  0.48
2019-12-27    -0.09  0.50 -0.30  0.78 -0.13 -0.13 -0.38 -0.37 -0.28  0.02
2019-12-30    -0.53  0.57  0.10  0.49 -0.12  0.18 -0.28 -0.06 -0.19  0.21

            ...      Volume                                               \
Stock Code  ...       LAME3        LAME4    LIPR3        NATU3     OGXP3
Date        ...
2019-01-02  ...  10608751.0  140260603.0      NaN  101358738.0  212909.0
2019-01-03  ...   7834857.0   99668270.0  40796.0   84816109.0  159392.0
2019-01-04  ...  21463439.0   85966410.0      NaN   78869659.0  129674.0
2019-01-07  ...  33069805.0  115251072.0      NaN  148198736.0  567947.0
2019-01-08  ...  11278947.0   89923908.0      NaN   93567305.0  260521.0
...         ...         ...          ...      ...          ...       ...
2019-12-20  ...  21299653.0  166398619.0      NaN          NaN       NaN
2019-12-23  ...  12987435.0   88023734.0  30173.0          NaN       NaN
2019-12-26  ...  19194961.0   62093237.0  45056.0          NaN       NaN
2019-12-27  ...  35226819.0  139068663.0  15020.0          NaN       NaN
2019-12-30  ...  26625631.0   91075318.0  15035.0          NaN       NaN


Stock Code        PETR3         PETR4         VALE3     WHRL3      WHRL4
Date
2019-01-02  387436832.0  2.464878e+09  8.774858e+08    1684.0        NaN
2019-01-03  343019795.0  2.317250e+09  1.484681e+09    2508.0    14508.0
2019-01-04  296922901.0  1.782610e+09  2.233199e+09   12089.0    18120.0
2019-01-07  459081028.0  3.070185e+09  1.103212e+09   10394.0    38909.0
2019-01-08  357334823.0  1.725903e+09  1.041094e+09    3145.0    42219.0
...                 ...           ...           ...       ...        ...
2019-12-20  671201881.0  2.813104e+09  2.306926e+09   85067.0   341456.0
2019-12-23  259860506.0  6.656192e+08  5.580514e+08  252076.0  1057989.0
2019-12-26  176529115.0  7.639152e+08  1.118209e+09  312511.0   871387.0
2019-12-27  187861216.0  7.626165e+08  7.473885e+08  126829.0   824652.0
2019-12-30  166913217.0  6.705178e+08  6.378296e+08   64061.0   185277.0

[248 rows x 90 columns]

In [258]:
#Valid M-Monthly, 2M-Two Months, ...
#This code returns the date as a column again

#data = df_pivot.resample('M').sum().reset_index().copy()

In [259]:
df_pivot = df_pivot.resample('D').sum()
df_pivot

           Movement                                                        \
Stock Code    ABEV3 ALPA3 ALPA4 ALUP3 ALUP4 AMAR3 BBAS3 BBDC3 BBDC4 BIDI3
Date
2019-01-02     0.75  0.60  0.47  0.20  0.29  0.40  2.40  1.79  1.74  0.00
2019-01-03     0.32  0.02  0.08 -0.01  0.28  0.14  0.30  0.90  0.48  0.00
2019-01-04     0.25  0.60 -0.10 -0.11 -0.11 -0.02  0.72 -0.05  0.01  0.00
2019-01-05     0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00
2019-01-06     0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00
...             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
2019-12-26     0.26 -0.20 -0.09  0.29  0.11  0.33  0.72  0.55  0.43  0.48
2019-12-27    -0.09  0.50 -0.30  0.78 -0.13 -0.13 -0.38 -0.37 -0.28  0.02
2019-12-28     0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00
2019-12-29     0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00
2019-12-30    -0.53  0.57  0.10  0.49 -0.12  0.18 -0.28 -0.06 -0.19  0.21

            ...      Volume                                               \
Stock Code  ...       LAME3        LAME4    LIPR3        NATU3     OGXP3
Date        ...
2019-01-02  ...  10608751.0  140260603.0      0.0  101358738.0  212909.0
2019-01-03  ...   7834857.0   99668270.0  40796.0   84816109.0  159392.0
2019-01-04  ...  21463439.0   85966410.0      0.0   78869659.0  129674.0
2019-01-05  ...         0.0          0.0      0.0          0.0       0.0
2019-01-06  ...         0.0          0.0      0.0          0.0       0.0
...         ...         ...          ...      ...          ...       ...
2019-12-26  ...  19194961.0   62093237.0  45056.0          0.0       0.0
2019-12-27  ...  35226819.0  139068663.0  15020.0          0.0       0.0
2019-12-28  ...         0.0          0.0      0.0          0.0       0.0
2019-12-29  ...         0.0          0.0      0.0          0.0       0.0
2019-12-30  ...  26625631.0   91075318.0  15035.0          0.0       0.0


Stock Code        PETR3         PETR4         VALE3     WHRL3     WHRL4
Date
2019-01-02  387436832.0  2.464878e+09  8.774858e+08    1684.0       0.0
2019-01-03  343019795.0  2.317250e+09  1.484681e+09    2508.0   14508.0
2019-01-04  296922901.0  1.782610e+09  2.233199e+09   12089.0   18120.0
2019-01-05          0.0  0.000000e+00  0.000000e+00       0.0       0.0
2019-01-06          0.0  0.000000e+00  0.000000e+00       0.0       0.0
...                 ...           ...           ...       ...       ...
2019-12-26  176529115.0  7.639152e+08  1.118209e+09  312511.0  871387.0
2019-12-27  187861216.0  7.626165e+08  7.473885e+08  126829.0  824652.0
2019-12-28          0.0  0.000000e+00  0.000000e+00       0.0       0.0
2019-12-29          0.0  0.000000e+00  0.000000e+00       0.0       0.0
2019-12-30  166913217.0  6.705178e+08  6.378296e+08   64061.0  185277.0

[363 rows x 90 columns]

In [260]:
movements = df_pivot.to_numpy().transpose()

In [261]:
from sklearn.preprocessing import Normalizer, StandardScaler
norm = Normalizer()
stdm = StandardScaler()

In [270]:
from sklearn.pipeline import make_pipeline
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters =5, max_iter = 5000)
pipeline = make_pipeline(norm, kmeans)
pipeline.fit(movements)
labels = pipeline.predict(movements)

In [271]:
df1 = pd.DataFrame({'labels':labels, 'companies':[i[1] for i in df_pivot.columns.to_list()]}).sort_values(by=['labels'], axis=0)
df1

    labels companies
0        0     ABEV3
55       0     BIDI4
54       0     BIDI3
50       0     AMAR3
49       0     ALUP4
..     ...       ...
83       4     NATU3
59       4     BRKM5
85       4     PETR3
71       4     ELET6
63       4     CMIG4

[90 rows x 2 columns]