In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [323]:
companies_codes = [
    'BBDC',
    'BBAS',
    'ABEV',
    'PETR',
    'CMIG',
    'CNTO',
    'BRML',
    'CVCB',
    'AMAR',
    'VALE',
    'BOBR',
    'PETR',
    'NATU',
    'LAME',
    'GGBR',
    'ITUB',
    'BIDI',
    
]
companies_codes.sort()

stock_codes = {}
stocks_list = []

codes_processed_file = '../Python/processed_codes.csv'
file = open(codes_processed_file, 'r')
line = file.readline()

while line:
    line = line.strip()
    id, name = line.split(',')
    stocks_list.append(id)
    line = file.readline()

file.close()

for i in companies_codes:
    stock_codes[i] = [s for s in stocks_list if i in s]

In [324]:
timeseries_file = '../Python/outputdata.csv'
df = pd.read_csv(timeseries_file)
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')
df

,Date,Stock Code,Price Open,Price Close,Price High,Price Low,Price Mean,Quantity,Volume
0,2019-01-02,AALR3,13.31,13.25,13.50,13.25,13.33,264200,3523962.0
1,2019-01-02,AAPL34,60.71,60.41,60.71,59.89,60.47,16800,1015969.0
2,2019-01-02,ABBV34,342.84,342.84,342.84,342.84,342.84,300,102852.0
3,2019-01-02,ABCB4,16.47,17.12,17.20,16.35,16.78,571700,9598300.0
4,2019-01-02,ABEV3,15.40,16.15,16.30,15.40,15.95,18692900,298201954.0
...,...,...,...,...,...,...,...,...,...
779224,2019-12-30,YDUQM47,1.52,1.81,1.81,1.52,1.60,10400,16732.0
779225,2019-12-30,YDUQM48,1.92,2.01,2.20,1.92,2.09,3200,6699.0
779226,2019-12-30,YDUQM49,2.58,2.75,2.92,2.58,2.82,10500,29640.0
779227,2019-12-30,YDUQN460,2.11,2.11,2.11,2.11,2.11,200,422.0
779228,2019-12-30,YDUQN480,3.07,3.07,3.07,3.07,3.07,1500,4605.0

In [325]:
blue_chips = sum(stock_codes.values(), [])
print(blue_chips)

['ABEV3', 'AMAR3', 'BBAS3', 'BBDC3', 'BBDC4', 'BIDI3', 'BIDI4', 'BIDI9', 'BOBR4', 'BRML3', 'CMIG3', 'CMIG4', 'CNTO3', 'CVCB3', 'GGBR3', 'GGBR4', 'ITUB3', 'ITUB4', 'LAME1', 'LAME2', 'LAME3', 'LAME4', 'NATU3', 'PETR3', 'PETR4', 'VALE3']

In [326]:
df['Movement'] = df['Price Close'] - df['Price Open']
df['Variance'] = df['Price High'] - df['Price Low']

In [327]:
bc_df = df.loc[(df['Stock Code'].isin(blue_chips))].copy() #& (df['Date'] < '2019-06-01')].copy()
bc_df

,Date,Stock Code,Price Open,Price Close,Price High,Price Low,Price Mean,Quantity,Volume,Movement,Variance
4,2019-01-02,ABEV3,15.40,16.15,16.30,15.40,15.95,18692900,298201954.0,0.75,0.90
14,2019-01-02,AMAR3,5.14,5.54,5.60,5.14,5.44,1023700,5572007.0,0.40,0.46
28,2019-01-02,BBAS3,46.20,48.60,49.70,46.09,48.53,14905300,723388460.0,2.40,3.61
29,2019-01-02,BBDC3,33.98,35.77,36.11,33.55,35.12,3365100,118185220.0,1.79,2.56
30,2019-01-02,BBDC4,38.65,40.39,40.79,38.42,40.04,23320500,933912177.0,1.74,2.37
...,...,...,...,...,...,...,...,...,...,...,...
231116,2019-12-30,PETR3,32.38,32.00,32.59,31.91,32.10,5199500,166913217.0,-0.38,0.68
231117,2019-12-30,PETR4,30.55,30.18,30.71,30.15,30.32,22111600,670517763.0,-0.37,0.56
231216,2019-12-30,VALE3,53.65,53.30,53.86,53.20,53.47,11928100,637829565.0,-0.35,0.66
231272,2019-12-30,LAME1,7.40,7.48,7.60,7.40,7.51,2800,21055.0,0.08,0.20
231273,2019-12-30,LAME2,9.50,9.40,9.81,9.40,9.52,178900,1704472.0,-0.10,0.41

In [340]:
df_pivot = pd.pivot_table(bc_df, index=[bc_df['Date']], columns=bc_df['Stock Code'], values='Movement')
df_pivot

Stock Code,ABEV3,AMAR3,BBAS3,BBDC3,BBDC4,BIDI3,BIDI4,BIDI9,BOBR4,BRML3,...,ITUB3,ITUB4,LAME1,LAME2,LAME3,LAME4,NATU3,PETR3,PETR4,VALE3
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,0.75,0.40,2.40,1.79,1.74,NaN,0.91,NaN,0.12,0.39,...,1.91,1.56,NaN,NaN,0.03,0.02,1.40,1.24,1.51,1.08
2019-01-03,0.32,0.14,0.30,0.90,0.48,NaN,-0.89,NaN,0.08,0.09,...,0.94,0.86,NaN,NaN,-0.06,-0.07,0.34,0.55,0.69,-1.80
2019-01-04,0.25,-0.02,0.72,-0.05,0.01,NaN,-0.89,NaN,-0.03,-0.13,...,-0.54,-0.24,NaN,NaN,-0.30,-0.12,0.52,0.27,-0.13,2.37
2019-01-07,-0.09,0.08,-0.35,0.35,0.59,NaN,0.15,NaN,0.06,0.05,...,0.17,0.25,NaN,NaN,0.28,0.35,-1.53,0.84,0.26,-0.96
2019-01-08,-0.39,-0.21,-0.67,0.40,0.14,NaN,1.19,NaN,-0.06,-0.03,...,0.08,0.34,NaN,NaN,-0.18,0.03,-1.14,-0.40,-0.44,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-20,0.29,0.06,0.11,-0.28,-0.14,0.04,0.05,NaN,-0.14,-0.07,...,-0.08,-0.13,-0.07,-0.35,0.16,0.17,NaN,-0.37,-0.34,0.02
2019-12-23,-0.05,0.57,1.64,0.68,0.22,-0.42,-0.19,NaN,0.01,0.12,...,0.10,0.34,0.00,0.64,0.18,-0.05,NaN,0.44,0.31,-0.32
2019-12-26,0.26,0.33,0.72,0.55,0.43,0.48,0.47,NaN,-0.02,0.12,...,0.48,0.60,0.72,1.84,0.20,0.01,NaN,0.29,0.32,-0.02
2019-12-27,-0.09,-0.13,-0.38,-0.37,-0.28,0.02,-0.18,NaN,-0.09,-0.52,...,-0.12,-0.20,-0.65,-1.65,-0.50,-0.71,NaN,-0.64,-0.17,-0.39
2019-12-30,-0.53,0.18,-0.28,-0.06,-0.19,0.21,0.59,NaN,-0.05,0.07,...,-0.27,-0.24,0.08,-0.10,0.29,-0.27,NaN,-0.38,-0.37,-0.35

In [341]:
#Valid M-Monthly, 2M-Two Months, ...
#This code returns the date as a column again

#data = df_pivot.resample('M').sum().reset_index().copy()

In [354]:
df_pivot = df_pivot.resample('15D').sum()
df_pivot

movements = df_pivot.to_numpy().transpose()

In [363]:
from sklearn.preprocessing import Normalizer, StandardScaler
norm = Normalizer()
norm_movements = norm.fit_transform(movements)
stdm = StandardScaler()

In [364]:
from sklearn.pipeline import make_pipeline
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters =10, max_iter = 5000)
pipeline = make_pipeline(norm, kmeans)
pipeline.fit(movements)
labels = pipeline.predict(movements)

In [365]:
df1 = pd.DataFrame({'labels':labels, 'companies':df_pivot.columns.to_list()}).sort_values(by=['labels'], axis=0)
df1

    labels companies
17       0     ITUB4
23       0     PETR3
3        0     BBDC3
4        0     BBDC4
16       0     ITUB3
24       0     PETR4
15       1     GGBR4
14       1     GGBR3
21       1     LAME4
20       1     LAME3
19       1     LAME2
18       1     LAME1
13       2     CVCB3
25       2     VALE3
5        2     BIDI3
2        2     BBAS3
11       2     CMIG4
8        2     BOBR4
0        3     ABEV3
7        3     BIDI9
6        3     BIDI4
1        3     AMAR3
10       3     CMIG3
9        4     BRML3
22       4     NATU3
12       4     CNTO3